// Main less file for your application.
// Use `@import` to use other less files
// relative to 'app/css' or 'vendor/css'.

@import 'style';

.user-authentication {
  box-sizing: border-box;
  width: 325px;
  padding: 20px;
  border: 1px solid #DDD;
  margin-left: auto;
  margin-right: auto;
}

.glyph-adjustment {
  top: auto !important;
}

.button-adjustment {
  width: 100%;
}
