// Main less file for your application.
// Use `@import` to use other less files
// relative to 'app/css' or 'vendor/css'.

@import 'style';

button {
  margin-bottom: 0px !important;
}

button:focus {outline:0 !important;}

.button-adjustment {
  width: 100%;
  position: relative;
}

.btn-default[disabled] {
  background-color: darkgray;
  border-color: #cccccc;
}

.user-authentication {
  box-sizing: border-box;
  width: 325px;
  padding: 20px;
  border: 1px solid #DDD;
  margin-left: auto;
  margin-right: auto;
}

.error-border {
  border:3px solid gold;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 5px;
  padding-right: 5px;
}

input.dl-unauthorized {
  border:3px solid red;
}

input.ng-invalid.ng-touched.dl-blurred {
  border: 3px solid gold;
}

input.dl-invalid {
  border: 3px solid red;
}

input.dl-focused {
  border: 1px solid #66AfE9;
}

/* Slight variation on Bootstrap's btn btn-default */
.dl-not-ready {
  background-color: darkgrey;
  color: white;
}

.error-border-unauthorized {
  border:3px solid red;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 5px;
  padding-right: 5px;
}

.spinner {
  position: absolute;
  left: 5px;
  top: 4px;
  width: 25px;
  height: 25px;
}
