<div id="home" class="row">
    <div class="col-md-6">
        <h3 id="hello">Hello {{authenticatedUser.token}} from {{authenticatedUser.realm}}</h3>
        <h3 id="welcome">Welcome to the {{ title }} page!</h3>

        <div style="margin-left: 30px;">
            <a id='tenant-click' href="#" ng-click="showTenants($event)">Show Tenants</a>
            <ul id='tenants' ng-show="showDetails">
                <li id='tenant-{{$index}}' ng-repeat="tenant in tenants.items">{{tenant.name}}</li>
            </ul>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div style="margin-left: 30px;">
            <button id='logout' ng-click="logout()" class="button large expand radius">Log Out</button>
        </div>
    </div>
</div>
