<div class="panel panel-default user-authentication">
    <div class="panel-body">
        <form class="form-horizontal" name="aform" novalidate="" dl-submit="login()" dl-remove-hover>
            <div class="form-group">
                <!-- label for="inputEmail3" class="col-sm-2 control-label">Email</label -->
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-user glyph-adjustment" aria-hidden="true"></span>
                    <input  type="text"
                            class='form-control'
                            placeholder="Username (email)"
                            aria-describedby="basic-addon1"
                            ng-model="credentials.username"
                            name="username"
                            required
                            ng-minlength="5"
                            ng-maxlength="30"
                            dl-signin/>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-lock glyph-adjustment" aria-hidden="true"></span>
                    <input type="password"
                           class='form-control'
                           placeholder="Password"
                           aria-describedby="basic-addon1"
                           ng-model="credentials.password"
                           name="password"
                           required
                           ng-minlength="8"
                           ng-maxlength="30"
                           dl-signin/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2x">
                    <dl-signin-button></dl-signin-button>
                </div>
            </div>
            <div class="error-container error-border"
                 ng-show="((aform.username.$touched && aform.username.$invalid)|| (aform.password.$touched && aform.password.$invalid))">
                <div ng-show="aform.username.$touched">
                    <small class="dl-error" ng-show="aform.username.$error.required">
                        Username is required....<br/>
                    </small>
                    <small class="dl-error" ng-show="aform.username.$error.minlength">
                        Username must be at least 5 characters.<br/>
                    </small>
                    <small class="dl-error" ng-show="aform.username.$error.email">
                        Username must be your email.<br/>
                    </small>
                    <small class="dl-error" ng-show="aform.username.$error.maxlength">
                        Username cannot be longer than 30 characters.<br/>
                    </small>
                </div>
                <div ng-show="aform.password.$touched">
                    <small class="dl-error" ng-show="aform.password.$error.required">
                        Password is required.<br/>
                    </small>
                    <small class="dl-error" ng-show="aform.password.$error.minlength">
                        Password must be longer than 8 characters. <br/>
                    </small>
                    <small class="dl-error" ng-show="aform.password.$error.maxlength">
                        Password cannot be longer than 30 characters.<br/>
                    </small>
                </div>
            </div>
            <div class="error-container error-border-unauthorized" ng-show="unauthorized">
                <small class="dl-error">
                    Unauthorized.<br/>
                </small>
             </div>
        </form>
    </div>
</div>
